body {
    font-family: Trebuchet MS, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}
.content {
    margin-right: 25%;
}
h1 {
    font-size: 24px;
    color: #ffffff;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}
#navbar {
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px;
    height: 84px;
}
td {
    vertical-align: middle;
    color: #e0e0e0;
}
#left {
    text-align: left;
    align-items: center;
    display: flex;
}
#right {
    text-align: right;
}
#bottom {
    display: none;
}
.nav {
    color: #ffffff;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.nav:hover {
    text-decoration: underline;
}
#dsite {
    display: none;
}
form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #1f1f1f;
}
label {
    display: block;
    margin-top: 20px;
    color: #e0e0e0;
}
.formui {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #e0e0e0;
}
#button {
    background-color: #333;
    color: white;
    cursor: pointer;
}
#button:hover {
    background-color: #555;
}
#results {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
}
#apiKeyPrompt {
    display: none;
    background-color: #6f0000;
    padding: 10px;
}
#apiKey {
    width: 50%;
    margin-right: 10px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #333;
}
#cookieWarning {
    background-color: #6f6f00;
    padding: 10px;
    margin-top: 10px;
    display: none;
}
#warning {
    color: red;
}
#contact, #contactLink {
    padding-left: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: left;
}
#contactLink:hover {
    text-decoration: underline;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: #2c2c2c;
}
::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 3px solid #2c2c2c;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.result-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}
.result-bar span {
    display: block;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.eco-score {
    background-color: green;
}
.distance {
    background-color: blue;
}
.duration {
    background-color: orange;
}
.co2-emission {
    background-color: red;
}
.fuel-consumption {
    background-color: purple;
}
#darkModeLabel{
    display: inline;
}