body {
    font-family: Trebuchet MS, Verdana, sans-serif;
}
.content {
    margin-right: 25%;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
#navbar {
    width: 100%;
    background-color: green;
    padding: 20px;
    height: 84px;
}
td {
    vertical-align: middle;
}
#left {
    text-align: left;
    display: flex;
    align-items: center;
}
#right {
    text-align: right;
}
#bottom {
    display: none;
}
.nav {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.nav:hover {
    text-decoration: underline;
}
#dsite {
    display: none;
}
form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
label {
    display: block;
    margin-top: 20px;
}
.formui {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#button {
    background-color: green;
    color: white;
    cursor: pointer;
}
#button:hover {
    background-color: #004000;
}
#results {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#apiKeyPrompt {
    display: none;
    background-color: #ffbfbf;
    padding: 10px;
}
#apiKey {
    width: 50%;
    margin-right: 10px;
}
#cookieWarning {
    background-color: #ffffbf;
    padding: 10px;
    margin-top: 10px;
    display: none;
}
#warning {
    color: red;
}
#contact, #contactLink {
    padding-left: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-align: left;
}
#contactLink:hover {
    text-decoration: underline;
}
.result-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}
.result-bar span {
    display: block;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.eco-score {
    background-color: green;
}
.distance {
    background-color: blue;
}
.duration {
    background-color: orange;
}
.co2-emission {
    background-color: red;
}
.fuel-consumption {
    background-color: purple;
}
#darkModeLabel{
    display: inline;
}
#privacy {
    margin-bottom: 0px;
    font-size: 12px;
}