body {
    font-family: Trebuchet MS, Verdana, sans-serif;
    font-size: 48px;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 60px;
    font-weight: normal;
}
#navbar {
    width: 100%;
    background-color: green;
    padding: 40px;
}
td {
    vertical-align: middle;
}
#left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#right {
    display: none;
}
#bottom {
    display: block;
    padding-top: 20px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 2px;
}
.mnav {
    color: white;
    text-decoration: none;
    padding-right: 40px;
    font-weight: bold;
    font-size: 60px;
}
.mnav:hover {
    text-decoration: underline;
}
#msite {
    display: none;
}
button:not(#hamburger), input[type="submit"], input[type="button"] {
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: green;
    color: white;
    cursor: pointer;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #004000;
}
input[type="text"], select {
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
input[type="checkbox"] {
    transform: scale(4);
}
label {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
}
.formui {
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
#results {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 48px;
}
#apiKeyPrompt {
    font-size: 48px;
    background-color: #ffbfbf;
    padding: 20px;
    margin-top: 20px;
}
#apiKey {
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
#cookieWarning {
    font-size: 48px;
    background-color: #ffffbf;
    padding: 20px;
    margin-top: 20px;
}
#warning {
    font-size: 48px;
    color: red;
    margin-top: 20px;
}
#contact, #contactLink {
    padding-left: 20px;
    font-size: 48px;
    color: black;
    text-decoration: none;
    text-align: left;
}
#contactLink:hover {
    text-decoration: underline;
}
#hamburger {
    display: none;
    margin-left: auto;
    background-color: green;
    color: white;
    border: 0px solid #ccc;
    border-radius: 10px;
    font-size: 48px;
    width: 80px;
    height: 80px;
}
#hamburger:active {
    background-color: #004000;
}
#hamburger:hover {
    border: 2px solid #ccc;
}
form {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
}
#button {
    background-color: green;
    color: white;
    cursor: pointer;
}
#button:hover {
    background-color: #004000;
}
#apiKeyPrompt {
    display: none;
    background-color: #6f0000;
    padding: 20px;
    margin-bottom: 40px;
}
#apiKey {
    width: 50%;
    margin-right: 20px;
}
#cookieWarning {
    background-color: #6f6f00;
    padding: 20px;
    margin-bottom: 40px;
    display: none;
}
#sidebar {
    color: white;
    /* background-color: #00a600; */
    background-color: green;
    padding: 40px;
    font-size: 48px;
}
#delcookies {
    margin-top: 100px;
}
.result-bar {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.result-bar span {
    display: block;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.eco-score {
    background-color: green;
}
.distance {
    background-color: blue;
}
.duration {
    background-color: orange;
}
.co2-emission {
    background-color: red;
}
.fuel-consumption {
    background-color: purple;
}
#darkModeLabel{
    display: none;
}
#privacy {
    margin-bottom: 0px;
    font-size: 18px;
}