body {
    font-family: Trebuchet MS, Verdana, sans-serif;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
#navbar {
    width: 100%;
    background-color: green;
    padding: 20px;
}
td {
    vertical-align: middle;
}
#left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
#right {
    display: none;
}
#bottom {
    display: block;
    padding-top: 10px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
}
.mnav {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
.mnav:hover {
    text-decoration: underline;
}
#msite {
    display: none;
}
#hamburger {
    display: none;
    margin-left: auto;
    background-color: green;
    color: white;
    border: 0px solid #ccc;
    border-radius: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
}
#hamburger:active {
    background-color: #004000;
}
#hamburger:hover {
    border: 1px solid #ccc;
}
form {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
label {
    display: block;
    margin-top: 20px;
}
.formui {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#button {
    background-color: green;
    color: white;
    cursor: pointer;
}
#button:hover {
    background-color: #004000;
}
#results {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#apiKeyPrompt {
    display: none;
    background-color: #ffbfbf;
    padding: 10px;
}
#apiKey {
    width: 50%;
    margin-right: 10px;
}
#cookieWarning {
    background-color: #ffffbf;
    padding: 10px;
    margin-top: 10px;
    display: none;
}
#warning {
    color: red;
}
#contact {
    padding-left: 20px;
}
